@import '../../Components/Sass-variables/variables';


.stadium{
  grid-column: 7/11;
  grid-row: 2/4;
  width: 100%;
  margin-top: 30px;
}

.lastGames{
  grid-column: 7/11;
  grid-row: 5/8;
  margin-top: -30px;
  height: 300px;
  overflow: scroll;
}
.welcome{
  grid-column: 3/7;
  grid-row: 2/3;
  height: 120px;

}
.intro{
  grid-column: 3/6;
  grid-row: 3/8;
}
